main #register {
  height: 90vh;
  /* padding: 40px 0; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
main #register .left {
  width: 60%;
  /* height: 80%; */
  background-color: var(--signup-img-back);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 40px;
}
main #register .left img {
  /* height: 100%; */
  width: 90%;
}
main #register .right {
  width: 40%;
  display: flex;
  padding: 40px;
}

main #register .right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* min-height: 200px; */
  justify-content: center;
  /* background-color: aquamarine; */
  max-width: 330px;
  width: 100%;
}

main #register .right form .head h2 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2px;
}

main #register .right form .head p {
  font-size: 16px;
  margin-top: 10px;
}

main #register .right form .inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main #register .right form .inputs > div {
  position: relative;
  /* background-color: blue; */
  height: 40px;
  display: flex;
  transition: all 0.2s linear;
}
main #register .right form .inputs > div {
  cursor: text;
}
main #register .right form .inputs > div label {
  position: absolute;
  left: 0;
  top: 14px; /* position it inside input initially */
  font-size: 16px;
  color: var(--dark-gray);
  opacity: 0.8;
  transition: 0.3s ease all;
  pointer-events: none;
  z-index: 1;
}
main #register .right form .inputs > div input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--dark-gray);
  width: 100%;
  padding: 20px 0 0 0;
  outline: none;
  transition: all 0.2s linear;
}

main #register .right form .inputs > div.active label {
  top: -4px;
  transition: all 0.2s linear;
  /* bottom: none; */
}

.submit_btn {
  margin-top: 10px;
  width: 100%;
}
.submit_btn button {
  width: 100%;
  height: 40px;
  background-color: var(--dark-red);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
form span {
  font-size: 13px;
  color: var(--dark-gray);
}

form span a {
  margin-left: 5px;
  text-decoration: none;
  border-bottom: 1px solid var(--dark-gray);
  color: var(--dark-gray);
}



.login-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

}

.login-btn button{
    height: 40px;
  background-color: var(--dark-red);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
  min-width:120px ;
    cursor: pointer;
}
.login-btn a{
  font-size: 14px;
  text-decoration: none;
  width: fit-content;
  color: var(--dark-red);
  transition: all 0.1s ease-in-out;
}
.login-btn a:hover{
  border-bottom: 1px solid var(--dark-red);
}

@media screen and (max-width:1030px){
   main #register .left{
    width: 50%;
   }
   main #register .left img{
    width: 100%;
   }
   main #register .right{
    width: 50%;
   }
}

@media screen and (max-width:870px){
    main #register .left{
      display: none;
    }
      main #register{
        justify-content: center;
      }
      main #register .right{
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
      }
}

@media screen and (max-width:460px){
  main #register{
    height: fit-content;
  }
  main #register .right{
    padding: 60px 20px 80px;
  }
  main #register .right form .head h2{
    letter-spacing: 1.4px;
    font-size: 28px;
  }
  main #register .right form .head p{
    font-size: 14px;
  }
  main #register .right form .inputs > div label{
    font-size: 14px;
  }
   main #register .right form .inputs > div input{
    font-size: 13px;
   }
}