@media screen and (max-width: 1000px) {
  nav .nav-links {
    position: absolute;
    top: 80px;
    flex-direction: column;
    background-color: #fff;
    width: 40vw;
    height: fit-content;
    left: -60px;
    padding: 30px;
    z-index: 999;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
    transform: translateX(-100%);
  }
.nav-btn{
    display: block;
}
.nav-btn button{
  /* padding: 2px; */
  border: none;
  outline: none;
  background-color: transparent;
}
.nav-btn img{
  width: 25px;
}
  header .nav-logo h3 {
  font-size: 25px;
  margin-left: 5px;
}
  nav .nav-links li {
    width: fit-content;
  }
  nav .nav-links.active {
    transform: translateX(0%);
  }

  /* Banner */
  #banner{
    /* flex-direction: column; */
  }
  #banner .left{
    /* flex-direction: row; */
    display: none;
    /* width: 100%; */
  }
 #banner .divider {
  display: none;
 }
  #banner .right{
    width: 100%;
    height: 70vh;
  }


  /* Lower Banner */
  #lower_banner .banner{
    padding: 40px 30px;
    gap: 8px;
  }

  #lower_banner .banner .left h3{
    font-size: 40px;
  }
  #lower_banner .banner .left{
    width: 50%;
  }
  #lower_banner .banner .right{
    width: 50%;
  }


  /* New Arrival */

  #new_arrival .grid-container .grid-box3{
  grid-column: 3/5;
  grid-row: 2/4;
}
#new_arrival .grid-container .grid-box4{
  grid-column: 1/3;
}
}


@media screen and (max-width:776px){
  /* Navbar */
  header nav{
    padding: 0 20px;
  }


  /* Secttions */
   section {
  padding: 0 20px;
}
section:not(#banner){
  padding: 40px 20px;
}


  #lower_banner .banner{
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px 35px;
  }
   #lower_banner .banner .left h3{
    font-size: 32px;
    /* position: absolute; */
  }
  #lower_banner .banner .left h4{
    position: absolute;
    top: 30px;
  }
  #lower_banner .banner .left{
    width: 100%;
    order: 2;
    margin-top: 30px;
  }
  #lower_banner .banner .right{
    width: 100%;
    order: 1;
    margin-top: 50px;
  }
    /* New Arrival */
    #new_arrival .grid-container .grid-box1{
      height: 450px;
    }

header marquee{
  font-size: 11px;
}

}

@media screen and (max-width:660px){
   header nav{
    /* padding: 0 10px; */
  }
    header .nav-logo h3 {
      font-size: 20px;
    }

    nav .nav-last .input{
      display: none;
    }


.sales-head{
  /* flex-direction: column; */
}




.sales-head,.month-sales-head,.section-head ,.category-head{
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.sales-head .countdown {
  display: flex;
  width: fit-content;
  gap: 5px;
  margin-left: 0;
  align-items: center;
}

.sales-head .countdown > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  font-size: 20px;
  font-weight: bold;
}

.sales-head .countdown > div > span {
  font-size: 12px;
  font-weight: 600;
}

  footer .container{
    flex-direction: column;
    padding: 40px;
  }
}

@media screen and (max-width:550px){
    #lower_banner .banner .left h3{
    font-size: 26px;
    /* position: absolute; */
  }

  #lower_banner .banner .btn button,.view_all_btn_div button{
    width: 150px;
  }


  /* New Arrival */
  #new_arrival .grid-container .grid-box{
    padding: 10px;
  }

  #new_arrival .grid-container .grid-box .content h5{
    font-size: 20px;
  }
  #new_arrival .grid-container .grid-box .content p{
    font-size: 13px;
  }

   

}


@media screen and (max-width:450px){
.sales-head,.month-sales-head,.section-head,.category-head {
  margin-top: 20px;
  font-size: 18px;
  flex-direction: column;
  align-items: flex-start;
}

   #new_arrival .grid-container .grid-box1{
    height: 300px;
   }
   #new_arrival .grid-container .grid-box .content{
    bottom: 20px;
   }
   footer .container{
    padding: 40px 20px;
   }
}