@media screen and (max-width: 1000px) {
  nav .nav-links {
    position: absolute;
    top: 80px;
    flex-direction: column;
    background-color: #fff;
    width: 40vw;
    height: fit-content;
    left: -60px;
    padding: 30px;
    z-index: 999;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
   transition: all 0.2s ease-in-out;
    transform: translateX(-100%);
  }
.nav-btn{
    display: block;
}
  header .nav-logo h3 {
  font-size: 25px;
  /* margin-left: -120px; */
}
  nav .nav-links li {
    width: fit-content;
  }
  nav .nav-links.active {
    transform: translateX(0%);
  }



  /* Lower Banner */
  #lower_banner .banner{
    padding: 40px 30px;
    gap: 8px;
  }

  #lower_banner .banner .left h3{
    font-size: 40px;
  }
  #lower_banner .banner .left{
    width: 50%;
  }
  #lower_banner .banner .right{
    width: 50%;
  }


  /* New Arrival */

  #new_arrival .grid-container .grid-box3{
  grid-column: 3/5;
  grid-row: 2/4;
}
#new_arrival .grid-container .grid-box4{
  grid-column: 1/3;
}
}


@media screen and (max-width:776px){
  /* Navbar */
  header nav{
    padding: 0 20px;
  }


  /* Secttions */
   section {
  padding: 0 20px;
}
section:not(#banner){
  padding: 40px 20px;
}


  #lower_banner .banner{
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px 35px;
  }
   #lower_banner .banner .left h3{
    font-size: 32px;
    /* position: absolute; */
  }
  #lower_banner .banner .left h4{
    position: absolute;
    top: 30px;
  }
  #lower_banner .banner .left{
    width: 100%;
    order: 2;
    margin-top: 30px;
  }
  #lower_banner .banner .right{
    width: 100%;
    order: 1;
    margin-top: 50px;
  }
    /* New Arrival */
    #new_arrival .grid-container .grid-box1{
      height: 450px;
    }



}

@media screen and (max-width:660px){
  footer .container{
    flex-direction: column;
    padding: 40px;
  }
}

@media screen and (max-width:550px){
    #lower_banner .banner .left h3{
    font-size: 26px;
    /* position: absolute; */
  }

  #lower_banner .banner .btn button,.view_all_btn_div button{
    width: 150px;
  }


  /* New Arrival */
  #new_arrival .grid-container .grid-box{
    padding: 10px;
  }

  #new_arrival .grid-container .grid-box .content h5{
    font-size: 20px;
  }
  #new_arrival .grid-container .grid-box .content p{
    font-size: 13px;
  }

   

}


@media screen and (max-width:450px){
   #new_arrival .grid-container .grid-box1{
    height: 300px;
   }
   #new_arrival .grid-container .grid-box .content{
    bottom: 20px;
   }
   footer .container{
    padding: 40px 20px;
   }
}